$app-colors: (
  white: white,

  black: black,

  grey-50: #ebebeb,
  grey-30: #ededed,
  grey-100: #a6abbc,
  grey-150: #eff2f9,
  grey-175: #f2f2f2,
  grey-200: #f4f5f6,
  grey-250: #e9eaee,
  grey-275: #b2b2b2,
  grey-300: #bfc2cc,
  grey-350: #e5e5e5,
  grey-400: #d9dbe1,
  grey-450: #dee2ee,
  grey-500: #f6f6f7,
  grey-550: #d8d8d8,
  grey-600: #d1d1d1,

  yellow-50: #fcdd7c,
  yellow-100: #ffcb27,

  blue-50: #5d617b,
  blue-100: #0170b9,
  blue-200: #4c4c4c,
  blue-400: #2f334d,
  blue-500: #2a3658,
  blue-550: #2b2525,
  blue-600: #57617f,
  blue-700: #343955,
  blue-750: #303036,

  green-100: #93c334,

  red-300: #f55454,
);
