@each $margin-bottom in (16, 20) {
  .mb-#{$margin-bottom} {
    margin-bottom: #{$margin-bottom}px;
  }
}
.ml-auto {
  margin-left: auto;
}
.mr-36 {
  margin-right: 36px;
}
.text-center {
  text-align: center;
}
.d-none {
  display: none;
}
.fw-700 {
  font-weight: 700;
}
@include media-md {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}
.text-dimmed {
  color: rgba(color(grey-500), 0.5);
}
.align-self-center {
  align-self: center;
}
