$app-colors: (
  grey-50:   #e8eef1,
  grey-100:  #eceff1,
  grey-200:  #cfd8dc,
  grey-300:  #d6dbe2,
  grey-350:  #bec8d1,
  grey-400:  #8fa4af,
  grey-450:  #d4dade,
  grey-500:  #445a65,
  grey-550:  #526173,
  grey-900:  #36474f,
  blue-300:  #D8EEFF,
  blue-400:  #52a3ff,
  blue-450:  #008EFF,
  blue-500:  #5EB8FF,
  blue-900:  #22282d,
  red-300:   #FF4E84,
  red-400:   #FF91B2,
  red-450:   #FFE4EC,
  red-500:   #f96c97,
  green-500: #14da9e,
  green-200: #29CB98,
  grey-600:  #768492,

);
