.mb-0 {
  margin-bottom: 0 !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.bold {
  font-weight: 700;
}
.loading {
  animation: rotate  1.3s infinite linear
}
