button.prodigy-cart__toggle,
.prodigy-navbar-cart-wrapper {
  position: relative !important;
  display: flex;
  align-items: center;
  align-self: center;
  order: 100;
  line-height: 1;
  border: none;

  .prodigy-navbar-cart {
    display: flex !important;
    width: fit-content !important;
    column-gap: 8px;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    min-height: fit-content;
    padding: 5px 10px !important;
    transition: 150ms;
    border: 1px solid transparent !important;
    border-radius: 20px;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent !important;
    color: color(grey-100) !important;
    cursor: pointer;

    &:hover,
    &:focus {
      color: color(grey-100);
      background-color: white;
      border-color: currentColor !important;
      outline: none !important;
      text-decoration: none !important;
    }

    &:before {
      position: absolute;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      white-space: nowrap !important;
      border: 0 !important;
    }
  }

  .prodigy-navbar-cart__txt {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .prodigy-navbar-cart__icon {
    line-height: 1;
    color: inherit;
  }

  .prodigy-navbar-cart__count {
    @include small-font;
    display: flex;
    position: absolute;
    right: 0;
    top: -14px;
    z-index: 98;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: color(red-300);
    color: white;
  }

  .prodigy-navbar-cart__count--bottom {
    top: auto;
  }

  .prodigy-navbar-cart__count--left {
    right: auto;
  }

  .prodigy-navbar-cart__count--empty {
    background-color: color(grey-300);
  }
}

.prodigy-cart-item__remove-btn {
  flex: none;
  height: auto;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  color: color(blue-600);
  font-size: 16px;
  line-height: 1;

  &:focus,
  &:hover {
    color: color(blue-600);
    background-color: transparent;
    outline: none;
  }
}