$prodigy-review-info-width: 136px;
.prodigy-custom-template {
  input,
  textarea {
    width: 100%;
  }
  .prodigy-review {
    list-style: none;
    > .depth-1 {
      margin-bottom: 24px;
    }
    .children {
      margin: 0;
      list-style: none;
    }
  }
  .prodigy-review__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8px;
    order: 4;
    width: 100%;
    @include media-breakpoint-up(md) {
      flex-direction: column;
      order: 1;
      width: auto;
    }
  }
  .prodigy-review__info {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
  .prodigy-review__info-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 0;
    @include media-breakpoint-up(md) {
      width: 216px;
      margin-left: 76px;
      align-items: flex-start;
    }
    &:after {
      content: "";
      width: 100%;
      margin-bottom: 12px;
      order: 2;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 0;
      margin-right: 20px;
    }
    img {
      order: 3;
      width: 40px;
      height: auto;
      border-radius: 50%;
      margin-bottom: 12px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
  .prodigy-review__item {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    ~ .children {
      padding-left: 0;
      .prodigy-review__info-inner {
        @include media-breakpoint-up(md) {
          margin-right: 4px;
        }
      }
      .depth-2 {
        padding: 16px;
        background-color: color(grey-250);
      }
    }
    .prodigy-star-rating {
      order: 5;
      width: 120px;
      margin-right: 0;
      margin-bottom: 16px;
      @include media-breakpoint-up(md) {
        order: 3;
        margin-bottom: 0;
      }
    }
    .prodigy-star-rating,
    .prodigy-star-rating__item {
      height: 24px;
      &:before {
        font-size: 24px;
      }
    }
  }
  .prodigy-review__avatar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: color(blue-600);
    order: 4;
    margin-left: auto;
    margin-right: 0;
    @include media-breakpoint-up(md) {
      order: 2;
      margin-left: 0;
      margin-right: 0;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 16px;
    }
  }
  .prodigy-review__date {
    flex-shrink: 0;
    font-size: 14px;
  }
  .prodigy-review__avatar {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: color(grey-250);
    line-height: 1;
    object-fit: cover;
  }
  .prodigy-review__author {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .prodigy-review__author-response {
    font-weight: 400;
  }
  .prodigy-product-review__text {
    flex: 1;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  .prodigy-reviews-ratings {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-color;
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 24px;
      padding-left: 24px;
      border: 1px solid $border-color;
    }
    .prodigy-star-rating {
      margin-bottom: 0;
      &:after {
        content: none;
      }
    }
  }
  .prodigy-reviews-ratings__title {
    font-weight: 700;
  }
  .prodigy-reviews-ratings__average {
    font-size: 20px;
    font-weight: 700;
  }
  .prodigy-reviews-ratings__count {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
  }
  .prodigy-reviews-ratings__rating {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
    }
    .prodigy-star-rating {
      width: 160px;
    }
    .prodigy-star-rating,
    .prodigy-star-rating__item {
      height: 32px;
      &:before {
        font-size: 32px;
      }
    }
  }
  .modal {
    background-color: rgba(black, 0.5);
    .comment-form {
      grid-row-gap: 0;
    }
    .modal-dialog .container >.row {
      padding-top: 10px;
    }
  }
  .prodigy-review-modal__dialog {
    max-width: 100%;
    h2 {
      width: 90%;
    }
  }
  .prodigy-review-modal__body {
    position: relative;
    flex-grow: 1;
    padding: 16px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(42, 54, 88, 0.08);
    @include media-breakpoint-up(md) {
      padding: 32px;
    }
  }
  .prodigy-review-modal__icon-close {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    font-size: 24px;
  }
  .prodigy-review-modal__content {
    border: none;
    border-radius: 0;
    background-color: transparent;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }
  .prodigy-review-modal__img-wrp {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      width: 100%;
      max-width: 260px;
      padding: 32px;
      background-color: color(grey-250);
    }
    @include media-breakpoint-up(lg) {
      max-width: 335px;
    }
    img {
      background-color: darken(color(grey-250), 5);
      @include media-breakpoint-up(md) {
        max-height: 222px;
        object-fit: contain;
      }
      @include media-breakpoint-up(lg) {
        max-height: 305px;
      }
    }
  }
  .prodigy-review-modal__img-wrp-icon {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      background-color: rgba(black, 0.1);
    }
  }
  .prodigy-reviews-ratings__btn {
    margin-top: 24px;
    width: 100%;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      width: fit-content;
    }
  }
  .review-rating-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
  }
}
