.checkbox {
  display: flex;
  font-size: 14px;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
.checkbox__label {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 12px;
  border: 2px solid color(blue-450);
  border-radius: 2px;
  position: relative;
}
.checkbox__input:checked ~ .checkbox__label {
  background-color: color(blue-450);
  .checkbox__icon {
    display: block;
    flex-shrink: 0;
  }
}
.checkbox__icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkbox-with-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
