$app-colors: (
  blue-500:      #52a3ff,
  green-100:     #45b451,
  green-150:     #14da9e,
  green-200:     #29CB98,
  grey-50:       #d8d8d8,
  grey-100:      #8fa4af,
  grey-150:      #e8eef1,
  grey-200:      #d4dade, // #d6dbe2, #cfd8dc
  grey-300:      #ccc,
  grey-350:      #526173,
  grey-400:      #3f4042,
  grey-600:      #768492,
  grey-700:      #36474f,
  grey-blue-500: #445a65,
  red-100:       #dc3232,
  red-500:       #f96c97,
);
